Embedded System (C++)/Embedded Project.json
[
    {
        "id": "2d371d76e9d47271",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ad31f427e880caa0",
        "type": "mqtt in",
        "z": "2d371d76e9d47271",
        "name": "",
        "topic": "test/t",
        "qos": "2",
        "datatype": "auto",
        "broker": "c9233e19e01cdafc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 140,
        "wires": [
            [
                "2dfb2ba882fc757d",
                "400952e7aae2c278",
                "a9178c3409ca4d75",
                "7afac5e4384d56ae",
                "10ea85d6afcea5d1"
            ]
        ]
    },
    {
        "id": "2dfb2ba882fc757d",
        "type": "ui_text",
        "z": "2d371d76e9d47271",
        "group": "0737d30a78372b96",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 340,
        "y": 140,
        "wires": []
    },
    {
        "id": "400952e7aae2c278",
        "type": "debug",
        "z": "2d371d76e9d47271",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 60,
        "wires": []
    },
    {
        "id": "51b4c27ee87534ca",
        "type": "debug",
        "z": "2d371d76e9d47271",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 660,
        "wires": []
    },
    {
        "id": "a9178c3409ca4d75",
        "type": "ui_gauge",
        "z": "2d371d76e9d47271",
        "name": "temp.node",
        "group": "0737d30a78372b96",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "Celsius",
        "format": "{{value | number : 2}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "17",
        "seg2": "33",
        "x": 330,
        "y": 200,
        "wires": []
    },
    {
        "id": "257eda25c82d19cc",
        "type": "mqtt in",
        "z": "2d371d76e9d47271",
        "name": "",
        "topic": "test/h",
        "qos": "2",
        "datatype": "auto",
        "broker": "c9233e19e01cdafc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 440,
        "wires": [
            [
                "d608008486223e60",
                "73c93f636df0c1d8",
                "59210a309081f947",
                "ebbf269c6722467a",
                "10ea85d6afcea5d1"
            ]
        ]
    },
    {
        "id": "d608008486223e60",
        "type": "ui_text",
        "z": "2d371d76e9d47271",
        "group": "09c52cc3ec7f3b45",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Humidity :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 320,
        "y": 420,
        "wires": []
    },
    {
        "id": "73c93f636df0c1d8",
        "type": "debug",
        "z": "2d371d76e9d47271",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 360,
        "wires": []
    },
    {
        "id": "59210a309081f947",
        "type": "ui_gauge",
        "z": "2d371d76e9d47271",
        "name": "Humudity.node",
        "group": "09c52cc3ec7f3b45",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humudity",
        "label": "%",
        "format": "{{value | number :2}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "33",
        "seg2": "66",
        "x": 340,
        "y": 480,
        "wires": []
    },
    {
        "id": "ebbf269c6722467a",
        "type": "ui_chart",
        "z": "2d371d76e9d47271",
        "name": "",
        "group": "09c52cc3ec7f3b45",
        "order": 9,
        "width": 0,
        "height": 0,
        "label": "Humudity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#05ffe2",
            "#00fbff",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 320,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "7afac5e4384d56ae",
        "type": "ui_chart",
        "z": "2d371d76e9d47271",
        "name": "",
        "group": "0737d30a78372b96",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#fbff00",
            "#c1d8f5",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 330,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "f075ad0658b2c941",
        "type": "mqtt in",
        "z": "2d371d76e9d47271",
        "name": "",
        "topic": "test/thermis",
        "qos": "2",
        "datatype": "auto",
        "broker": "c9233e19e01cdafc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 760,
        "wires": [
            [
                "51b4c27ee87534ca",
                "a716f3edbaec2351",
                "a92f3a94ff9dcac9",
                "76d6c0b40fd2fd3c"
            ]
        ]
    },
    {
        "id": "a716f3edbaec2351",
        "type": "ui_text",
        "z": "2d371d76e9d47271",
        "group": "63c820ca543b28eb",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Thermister",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 390,
        "y": 840,
        "wires": []
    },
    {
        "id": "10ea85d6afcea5d1",
        "type": "ui_chart",
        "z": "2d371d76e9d47271",
        "name": "",
        "group": "6be15209bfbe9187",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "temp",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "0",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#04ff00",
            "#ff7700",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#aa6ce5",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 530,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "11effce93f783c13",
        "type": "mqtt in",
        "z": "2d371d76e9d47271",
        "name": "",
        "topic": "test/switch",
        "qos": "2",
        "datatype": "auto",
        "broker": "c9233e19e01cdafc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 980,
        "wires": [
            [
                "a009ebadf094f27a",
                "0cfe4793eb8d9689"
            ]
        ]
    },
    {
        "id": "a009ebadf094f27a",
        "type": "ui_text",
        "z": "2d371d76e9d47271",
        "group": "a8c84a2ae34e1268",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Power",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 370,
        "y": 1000,
        "wires": []
    },
    {
        "id": "0cfe4793eb8d9689",
        "type": "debug",
        "z": "2d371d76e9d47271",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 920,
        "wires": []
    },
    {
        "id": "0a7bc46d92fe6ad8",
        "type": "mqtt out",
        "z": "2d371d76e9d47271",
        "name": "",
        "topic": "test/poten",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c9233e19e01cdafc",
        "x": 400,
        "y": 1420,
        "wires": []
    },
    {
        "id": "e9bb2d057331ed39",
        "type": "mqtt in",
        "z": "2d371d76e9d47271",
        "name": "",
        "topic": "test/poten",
        "qos": "2",
        "datatype": "auto",
        "broker": "c9233e19e01cdafc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 1220,
        "wires": [
            [
                "2a9855423389a381",
                "c8b4a5641a7ec421",
                "e9aaedcdfd4eda06"
            ]
        ]
    },
    {
        "id": "c8b4a5641a7ec421",
        "type": "ui_gauge",
        "z": "2d371d76e9d47271",
        "name": "",
        "group": "6cfd62cd8dd093ad",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Potentiometer",
        "label": "V",
        "format": "{{value | number : 2}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "0.3",
        "seg2": "0.7",
        "x": 420,
        "y": 1140,
        "wires": []
    },
    {
        "id": "2a9855423389a381",
        "type": "ui_text",
        "z": "2d371d76e9d47271",
        "group": "6cfd62cd8dd093ad",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Potentiometer",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 420,
        "y": 1260,
        "wires": []
    },
    {
        "id": "a92f3a94ff9dcac9",
        "type": "ui_gauge",
        "z": "2d371d76e9d47271",
        "name": "",
        "group": "63c820ca543b28eb",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Thermistor",
        "label": "V",
        "format": "{{value | number : 2}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "0.3",
        "seg2": "0.7",
        "x": 390,
        "y": 780,
        "wires": []
    },
    {
        "id": "2922e440a62040cf",
        "type": "mqtt in",
        "z": "2d371d76e9d47271",
        "name": "",
        "topic": "test/light",
        "qos": "2",
        "datatype": "auto",
        "broker": "c9233e19e01cdafc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 620,
        "y": 1240,
        "wires": [
            [
                "c67479e4a65fb042",
                "fefc66ec076e777f"
            ]
        ]
    },
    {
        "id": "c67479e4a65fb042",
        "type": "ui_text",
        "z": "2d371d76e9d47271",
        "group": "6cfd62cd8dd093ad",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "light",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 770,
        "y": 1160,
        "wires": []
    },
    {
        "id": "e681b004a5f1ebe2",
        "type": "mqtt in",
        "z": "2d371d76e9d47271",
        "name": "",
        "topic": "test/light1",
        "qos": "2",
        "datatype": "auto",
        "broker": "c9233e19e01cdafc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 620,
        "y": 1320,
        "wires": [
            [
                "c1cf231a75afab55",
                "fefc66ec076e777f"
            ]
        ]
    },
    {
        "id": "c1cf231a75afab55",
        "type": "ui_text",
        "z": "2d371d76e9d47271",
        "group": "6cfd62cd8dd093ad",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "light1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 770,
        "y": 1240,
        "wires": []
    },
    {
        "id": "a0cb82fe689ba486",
        "type": "mqtt in",
        "z": "2d371d76e9d47271",
        "name": "",
        "topic": "test/light2",
        "qos": "2",
        "datatype": "auto",
        "broker": "c9233e19e01cdafc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 620,
        "y": 1400,
        "wires": [
            [
                "8f2be8f0467769a9",
                "fefc66ec076e777f"
            ]
        ]
    },
    {
        "id": "8f2be8f0467769a9",
        "type": "ui_text",
        "z": "2d371d76e9d47271",
        "group": "6cfd62cd8dd093ad",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "light2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 770,
        "y": 1320,
        "wires": []
    },
    {
        "id": "b6ef085998b52a6b",
        "type": "mqtt in",
        "z": "2d371d76e9d47271",
        "name": "",
        "topic": "test/light3",
        "qos": "2",
        "datatype": "auto",
        "broker": "c9233e19e01cdafc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 620,
        "y": 1480,
        "wires": [
            [
                "e8db40ade2ac5242",
                "fefc66ec076e777f"
            ]
        ]
    },
    {
        "id": "e8db40ade2ac5242",
        "type": "ui_text",
        "z": "2d371d76e9d47271",
        "group": "6cfd62cd8dd093ad",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "light3",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 770,
        "y": 1400,
        "wires": []
    },
    {
        "id": "ba8b194c8f29697d",
        "type": "mqtt in",
        "z": "2d371d76e9d47271",
        "name": "",
        "topic": "test/sound",
        "qos": "2",
        "datatype": "auto",
        "broker": "c9233e19e01cdafc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 620,
        "y": 1560,
        "wires": [
            [
                "828ca7a4bf6bf793"
            ]
        ]
    },
    {
        "id": "828ca7a4bf6bf793",
        "type": "ui_text",
        "z": "2d371d76e9d47271",
        "group": "6cfd62cd8dd093ad",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "sound",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 770,
        "y": 1480,
        "wires": []
    },
    {
        "id": "d5c89219e22da65d",
        "type": "ui_button",
        "z": "2d371d76e9d47271",
        "name": "",
        "group": "6cfd62cd8dd093ad",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 1400,
        "wires": [
            [
                "0a7bc46d92fe6ad8",
                "e9aaedcdfd4eda06"
            ]
        ]
    },
    {
        "id": "e9aaedcdfd4eda06",
        "type": "debug",
        "z": "2d371d76e9d47271",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 1340,
        "wires": []
    },
    {
        "id": "fefc66ec076e777f",
        "type": "debug",
        "z": "2d371d76e9d47271",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 1340,
        "wires": []
    },
    {
        "id": "c8b21d72182ae3e4",
        "type": "ui_template",
        "z": "2d371d76e9d47271",
        "group": "6be15209bfbe9187",
        "name": "temp",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div>\n<style>\n    body {\n        background-image: url(\"http://www.publicdomainpictures.net/pictures/150000/velka/sunset-sky-1455125487HWs.jpg\");\n        width 100%\n        background-repeat: no-repeat;\n        background-position: right top;\n        background-size: 100%;\n    }\n</style></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 670,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "1e28c12319cbdccf",
        "type": "mqtt in",
        "z": "2d371d76e9d47271",
        "name": "",
        "topic": "test/sound2",
        "qos": "2",
        "datatype": "auto",
        "broker": "c9233e19e01cdafc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 630,
        "y": 880,
        "wires": [
            [
                "fb9b35c9348385a0"
            ]
        ]
    },
    {
        "id": "fb9b35c9348385a0",
        "type": "ui_text",
        "z": "2d371d76e9d47271",
        "group": "a8c84a2ae34e1268",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sound",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 790,
        "y": 880,
        "wires": []
    },
    {
        "id": "e513c3f22253319b",
        "type": "ui_template",
        "z": "2d371d76e9d47271",
        "group": "63c820ca543b28eb",
        "name": "temp",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div>\n<style>\n    body {\n        background-image: url(\"https://www.neonics.co.th/wp-content/uploads/2020/09/thermistor.jpg\");\n        width 100%\n        background-repeat: no-repeat;\n        background-position: right top;\n        background-size: 100%;\n    }\n</style></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 630,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "63eb122ccb77329f",
        "type": "ui_template",
        "z": "2d371d76e9d47271",
        "group": "6cfd62cd8dd093ad",
        "name": "temp",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div>\n<style>\n    body {\n        background-image: url(\"https://www.pionline.it/fileadmin/_processed_/d/6/csm_PI-Electronics-Manufacturing_1aac684c8a.jpg\");\n        width 100%\n        background-repeat: no-repeat;\n        background-position: right top;\n        background-size: 100%;\n    }\n</style></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 950,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "bcab2d37f68bbb6f",
        "type": "ui_text",
        "z": "2d371d76e9d47271",
        "group": "6be15209bfbe9187",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temp Light",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 670,
        "y": 120,
        "wires": []
    },
    {
        "id": "1f2066b6c859a185",
        "type": "ui_text",
        "z": "2d371d76e9d47271",
        "group": "6be15209bfbe9187",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Humidity Light",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 680,
        "y": 420,
        "wires": []
    },
    {
        "id": "56f5bc7e30127b28",
        "type": "mqtt in",
        "z": "2d371d76e9d47271",
        "name": "",
        "topic": "test/tl",
        "qos": "2",
        "datatype": "auto",
        "broker": "c9233e19e01cdafc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 510,
        "y": 120,
        "wires": [
            [
                "bcab2d37f68bbb6f"
            ]
        ]
    },
    {
        "id": "a6585ca18be4afe3",
        "type": "mqtt in",
        "z": "2d371d76e9d47271",
        "name": "",
        "topic": "test/hl",
        "qos": "2",
        "datatype": "auto",
        "broker": "c9233e19e01cdafc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 510,
        "y": 420,
        "wires": [
            [
                "1f2066b6c859a185"
            ]
        ]
    },
    {
        "id": "76d6c0b40fd2fd3c",
        "type": "ui_chart",
        "z": "2d371d76e9d47271",
        "name": "",
        "group": "a8c84a2ae34e1268",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Thermistor",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 390,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "c9233e19e01cdafc",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "0737d30a78372b96",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "86997e4494102a1b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "09c52cc3ec7f3b45",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "86997e4494102a1b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "63c820ca543b28eb",
        "type": "ui_group",
        "name": "Thermister",
        "tab": "c71cf380c327896e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6be15209bfbe9187",
        "type": "ui_group",
        "name": "Temp & Humudity",
        "tab": "86997e4494102a1b",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a8c84a2ae34e1268",
        "type": "ui_group",
        "name": "Power",
        "tab": "c71cf380c327896e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6cfd62cd8dd093ad",
        "type": "ui_group",
        "name": "Potentiometer",
        "tab": "36776f1b4a4b5036",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "86997e4494102a1b",
        "type": "ui_tab",
        "name": "Temperature & Humidity",
        "icon": "wb_cloudy",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c71cf380c327896e",
        "type": "ui_tab",
        "name": "Thermister",
        "icon": "wb_incandescent",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "36776f1b4a4b5036",
        "type": "ui_tab",
        "name": "Potentiometer",
        "icon": "speaker",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]